streamlit
streamlit-option-menu

# Core Data Science
numpy
pandas
scipy
scikit-learn
statsmodels


# Data Visualization
matplotlib
seaborn
plotly
bokeh


# Dashboard & Web
streamlit

# Interactive Computing
jupyter
jupyterlab
notebook
ipywidgets
